<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spy</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/spystyle.css" %}">
</head>
<body>
<div class="blue_col">
    <fieldset>
        <legend>Blue Team:</legend>
    </fieldset>
</div>
<div class="game_state">
    <fieldset class="{% if turn.is_blue == True %} blue_turn {% else %} red_turn {% endif %}">
        <legend>Current team:</legend>
        <h1>{%  if turn.is_blue == True %}
            Blue Team ASSASSINATED
            {% else %}
            Red Team ASSASSINATED
            {% endif %}
        </h1>
    </fieldset>
</div>
<div class="red_col">
        <fieldset>
            <legend>Red Team:</legend>
        </fieldset>
</div>
</body>
</html>