<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Golden Code Name is an online version game inspired by the original boardgame, Codenames (Designer: Vlaada Chvátil; Artist Vlaada Chvátil">
  <meta name="keywords" content="HTML, CSS, XML, JavaScript, Python, Django">
  <meta name="author" content="Max, Nehemiah, Summer, Michael - PDX Code Guild">
  <link rel="stylesheet" type="text/css" href="{% static "css/base_style.css" %}">
  {% block custom_css_links %}{% endblock %}
  <title>{% block title %}{% endblock %} | Golden Code Name</title>

</head>
<body>

  <header>
    <h1>{% block header_text %} Golden Code Name {% endblock %}</h1>
  </header>

{% block main_content %}{% endblock %}

  <footer>
    <p>&copy; 2015 Golden Code Name</p>
  </footer>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
{% block js_scripts %}{% endblock %}

</body>
</html>
